@import '../../utils/general.scss';


@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.page-background {
  &.visible {
    visibility: visible;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 244, 244, 0.5);
  }
  &.hidden {
    visibility: hidden;
  }
}

.final-pop-up{
  &.box {
    border: 2px solid $dark_green;
    border-radius: 10px;
    width: 70%;
    margin-left: 3%;
    margin-top: 20%;
    background-color: white;
    padding: 10%;
    > * {
      @include primaryFont;
    }
  }
  &.container {
    > * {
      @include primaryFont;
     }
    &.visible {
      z-index: 3;
      visibility: visible;
      position: absolute;
      top: 40%;
      
      padding: 25px;
      width:auto;
      max-width: 400px;
      margin: 0 auto;
      animation: appear 2s ease-in-out ;
      z-index: 4;
      
    }
    &.hidden {
      visibility: hidden;
      .page-background {
        visibility: hidden;
      }
    }
  }

  &text-container {
    padding-bottom: 10%;
  }
  &.app-name,
  &.remarkable {
    color: $soft_green;
    font-weight: bold;
  }
}

.text-portion {
  &.first {
    margin-bottom: 7%;
  }
  &.second {
    margin: 7% 0;
  }
}

.restart.button {
  @include primaryFont;
  padding: 2vw;
  background-color: $green_yellow;
  border: 1px solid $dark_green;
  border-radius: 5px;
  color: $dark_green;
  &.container {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
  }
}
