@import '../../utils/general.scss';

.last-confirmation{
  @include primaryFont;
  & .title {
    font-weight: bold;
    font-size: 1rem;
    color: $dark_green;
  }

  &.container {
    max-width: 310px;
    padding: 4%;
    border-bottom: 1px solid $soft_green;
    border-radius: 10px;
    > * {
      margin: 1vh 0;
      text-align: center;
      justify-content: center;
      text-align: center;
    }
  }

  &.editor {
    border: 1px solid black;
    padding: 5px;
    resize: none;
    height: 10vh;
    overflow-y: scroll;

    :focus {
      outline:none;
    }

    &.input-contact {
      border: 1px solid $dark_green;
      border-radius: 3px;
      height: auto;
      width: 80%;
      align-self: center;
      padding-left: 5%;
    }
  }

  &.editing-button {
    @include lastConfirmationButtons;
  }
  .defined {
    font-size: 0.9rem;
    width: 70%;
  }
}

.button-container.editing {
  display: flex;
  align-content: center;
  margin-left: 5vw;
}
.contact.container {
  display: flex;
  justify-content: flex-start;
  > * {
    padding: 2px;
  }
  padding: 2px;
}
.contact-info.detail.title {
  font-size: 0.9rem;
  color: $soft_green
}
