@import '../../utils/general.scss';



.container.card-store-cat {
  @include primaryFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: visible;
  border-right: 2px solid $soft_green; 
  padding: 6% 6%;
  height: 13vw;
  width: 12vw;
  min-width: 65px;
  min-height: 69px;
  max-width: 118px;
  max-height: 118px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.img.card-store-cat {
  width: 90%;
}

@media screen and (min-width: 750px) {
  .container.card-store-cat {
    height: 18vw;
    width: 15vw;
    font-size: 1rem;
  }

  .img.card-store-cat {
    margin: 1vh 0.5vw;
  }
}

@media screen and (min-width: 950px) {
  .container.card-store-cat {
    height: 20vw;
    width: 20vw;
  }
}
