@import '../../utils/general.scss';


// GROUP CONTAINER
.detail-basic-data {
  @include primaryFont;
  .detail-name.product-card {
    padding: 2% 0;
    border-radius: 5px;
    background-color: $soft_green;
    color: white;
     text-align: center;
  }
  
}

.category-names.product-card {
  > * {
    border-bottom: 1px solid $dark_green;
  }
  :last-child {
    border: none;
  }
}

// PRODUCT CARD
.product-img-container {
  grid-area: photo;
  max-width: 90%;
  height: auto;
  align-items: center;
  > * {
    width: 100%;
  }
}
.basic-info {
  
  &.first-row {
    grid-area: basic-first;
    text-align: center;
    font-weight: bold;
  }
  &.second-row {
    grid-area: basic-second;
    font-size: 0.7rem;
    
  }
  &.container {
    display: flex;
    align-items: center;
  }
}

.buy {
  &.first-row {
    grid-area: buy-first;
  }

  &.second-row {
    grid-area: buy-second;
    place-self: center;
    width: auto;
  }
  &.container {
    grid-area: buy;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >* {
      margin: 2vh 0 0 0 ;
    }
    &:last-child {
      margin-bottom: 2vh;
    }
  }
}

.product-detail {
  display: grid;
  grid-template-columns: 35% 20% 45%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
  "photo basic-first buy"
  "photo basic-second buy";
  justify-items: center;
  margin: 5% 0;
  padding-bottom: 5% 0;
}

.paying-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.paying-container {
  width: 100%;
}

.quantity-text {
  font-size: 0.8rem;
  font-weight: bold;
}