@import '../../utils/general.scss';

.quantity-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .button,
  > * {
    font-size: 0.9rem;
  }
  .button {
    @include primaryFont();
    @include roundedButtons();
    padding: 0px 3px 2px 3px;
    padding-top: 0;
    // background-color: $soft_green;
    border-radius: 50%;
    color: $dark_green;
    font-weight: bold;
    font-size: 0.8rem;
    border: 0.1px solid $dark_green;
    vertical-align: center;
  }
  :first-child {
    margin-right: 6%;
  }
  :last-child {
    margin-left: 6%;
  }
}

.buy {
  .update-order {
    @include roundedButtons();
    // border: none;
    // background-color: $soft_green;
  }
  .icon {
    color: $dark_green;
  }
}

