@import '../../../utils/general.scss';

@keyframes appearing {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  to { 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes disappearing {
  from {
    opacity: 1;
    visibility: visible;
    // transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    // transform: translateY(10px);
  }
}

.order-option.button {
  @include roundedButtons();
}

.order-container.store-details {
  display: block;
  animation: appearing 0.7s linear forwards;
  transform-origin: top center;
    

  &.hidden {
    animation: disappearing 1.5s forwards;
  }
}