@import '../../utils/general.scss';

.order-container {
  left: 0;
  display: inline-block;
  width: 80%;
  padding: 0 10%;
  overflow-y: scroll;
  background-color: $soft_green;
  &.store-details {
    position: absolute;
    max-height: 35vh;
    overflow-y: scroll;
  }
  & * {
  margin: 2%;
  @include primaryFont;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  .go-back-button {
    @include lastConfirmationButtons;
    border: 1px solid $dark_green;
    background-color: $green_yellow;
    color: $dark_green;
    // font-weight: bold;
  }
}

.pre-confirm-order.button {
  border: 1px solid $dark_green;
  background-color: $green_yellow;
  color: $dark_green;
  border-radius: 5px;
  padding-bottom: 2px;
}

.product-ordered,
.product-price {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 0.8rem;
  
}
.product-basic-information {
  width: 35%;
}
.product-price {
  align-items: center;
}

.product-ordered {
  font-size: 0.8rem;
  padding: 2% 0;
  border-bottom: 1px solid $dark_green;
}

.title.order,
.label.total-price {
  font-weight: bold;
  color: $dark_green;
}

.title.order,
.total-price {
  width: 100%;
  text-align: center;
}

.delete-button {
  background: none;
  border: none;
  :hover {
    cursor: pointer;
  }
}

.delete-icon {
  color: $dark_green;
}
