@import '../../utils/general.scss';

.order-container {
  
  position: absolute;
  left: 0;
  display: inline-block;
  width: 80%;
  padding: 0 10%;
  overflow-y: scroll;
  background-color: $soft_green;
  // background-color: $soft_green;
  
  & * {
  margin: 2%;
  @include primaryFont;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  .go-back-button {
    @include lastConfirmationButtons;
  }
}

.product-ordered,
.product-price {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 0.8rem;
}
.product-price {
  align-items: center;
}

.product-ordered {
  font-size: 0.8rem;
  border-bottom: 1px solid $soft_green;
}

.title.order,
.label.total-price {
  font-weight: bold;
  color: $dark_green;
}

.title.order,
.total-price {
  width: 100%;
  text-align: center;
}

.delete-button {
  background: none;
  border: none;
  :hover {
    cursor: pointer;
  }
}

.delete-icon {
  color: $dark_green;
}
