@import '../../../utils/general.scss';

.info-container {
  @include primaryFont;
  position: absolute;
  top: 10%;
  left: 25%;
  text-align: center;
  border: 1px solid gray;
  padding: 5%;
  padding-top: 10%;
}

.img-container {
  position: absolute;
  left: 43%;
  top: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  border: 0.5px solid black;
  
  & > * {
    max-width: 160px;
    max-height: 120px;
    vertical-align: center;
   
  }
  
}

.store-name,
.store-categories {
  margin-block: 0px;
}

.store-name {
  font-size: 1.5rem;
  font-weight: bold;
}