@import '../../utils/general.scss';
.detailsCard-container {
  display: grid;
  grid-template-columns: 35% 22% 40%;
  grid-template-areas: "photo basic-data other-details"; 
  padding: 5% 0 5% 0;
  border-bottom: 1px solid $soft_green;
  > * {
    @include primaryFont;
  }
  :hover {
    cursor: pointer;
  }
}

.detail-img {
  grid-area: photo;
  padding: auto;
}

.logo-store {
  margin: auto 5% auto 0;
  max-width: 239px;
  max-height: 125px;
  padding: 5px;
  border-radius: 10px;
}
.detail.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}

.detail.other-info {
  grid-area: other-details;
  padding: 0 5%;
}

.detail-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 2%;
  margin: 0.3% 0.2%;

}
.category-names {
  font-size: 0.8em;
}

.opening-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.paying-info {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 70% 30%;
  grid-template-areas: 
    "icon delivery-first minimum-first"
    "icon delivery-second minimum-second";
  align-items: center;
  justify-items: center;
  margin-top: 5%;
  .delivery-price,
  .minimum-order {
    padding-left: 0.3em;
  }
  .minimum-order {
    padding-right: 0.3em;
  }

}

.delivery {
  &.first-column {
    grid-area: delivery-first;
  }
  &.second-column {
    grid-area: delivery-second;
  }
}

.min {
  &.first-column {
    grid-area: minimum-first;
  }
  &.second-column {
    grid-area: minimum-second;
  }
}

.opening-hours,
.paying-info {
  > * {
    font-size: 0.8rem;
  }
}

.money-icon {
  font-size: 1.2em;
}