@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

//COLORS
$soft_green: rgb(126, 217, 87);
$dark_green: rgb(0, 128, 55);

//FONTS
@mixin primaryFont {
  font-family: 'Antic', sans-serif;
}

@mixin searchInput {
  @include primaryFont;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1vh 2vw;
}

@mixin hoverCursor {
  & :hover {
    cursor: pointer;
  }
}

@mixin lastConfirmationButtons {
  width: auto;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  background-color: $soft_green;
  color: $dark_green;
  
  &:hover {
    background-color: $dark_green;
    color: $soft_green;
  }
}

