@import '../../utils/general.scss';

.inputName-container {
  width: 100%;
  border: 1.5px solid $soft_green;
  border-radius: 5px;
  margin: 5% 0%;
}

.inputName-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 0;
}

.inputName-text {
  @include searchInput;
  font-size: 1rem;
  border: none;
  width: 80%;
  color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
  
  :focus {
    border: none;
    
  }
}

.search-input.icon {
  height: 1.5em;
  width: auto;
  color: $soft_green;
}


