@import '../utils/general.scss';

.last-confirmation.page.container {
  display: flex;
  flex-direction: column;
}
.order-container.last-confirmation {
  border-bottom: 1px solid $soft_green;
}
.details.address.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.contact.container {
  display: flex;
}
