@import '../utils/general.scss';

.order-container.last-confirmation {
  border: 1px solid $soft_green;
  border-radius: 10px;
}

.editing-container {
  display: flex;
  justify-content: space-around;
}

.contact.container {
  display: flex;
}
