@import '../../utils/general.scss';

.inputAdress.component.container {
  display: flex;
  flex-direction: row;
  border: 1px solid $soft_green;
  border-radius: 5px;
  >* {
    @include searchInput;
    margin: 2vw;
  }
  input {
    width: 80%;
    border: none;
    :placeholder-shown {
      color: gray;
    }
  }
  button {
    width: 20%;
    background-color: $soft_green;
    color: $dark_green;
    border: none;
    border-radius: 5px;
    
  }
}

@media screen and (min-width: 600px) {
  .inputAdress {
    margin: 25vh 20vw 0 20vw;
    >* {
      @include primaryFont;
      font-size: 1rem;
      font-weight: bold;
      padding: 1vh 2vw;
    }
    input {
      width: 70%;
    }
    .submit-button {
      width: 20%;
      background-color: $soft_green;
      color: $dark_green;
      
    }
  }
}

@media screen and (min-width: 800px) {
  .inputAdress {
    >* {
      font-size: 1.5rem;
    }
  }
}